extends layout

block content
  h1 #{title}
  div 
    a(href="/new") Add new message
  div 
    each message in messages
      div(style={border: '1px solid black', padding: '10px', margin: '10px'}) 
        p Text: #{message.text}
        p User: #{message.user}
        p Added: #{message.added}
